/* 
    This project is based on a calculator from MacOS
    The same height and width
*/

.calculator {
    height: 323px;
    width: 234px;
    border-radius: 5px;
    /* overflow: hidden; */
    cursor: pointer;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* 3rem = 48px */
    grid-template-rows: 1fr repeat(5, 3rem); 

}