@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'Roboto-Thin', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #FFFFFF;
  background: -webkit-radial-gradient(circle, rgb(83,105,118) 30%, rgb(41,46,73));
}